@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        @apply font-[Raleway];
    }
    /*======================== Navbar ===================== */
    .initiales {
        color: #39a9db;
        font-size: 1.6em;
        font-family: Pacifico;
        /*letter-spacing: 3px;*/
    }
    .topbar li {
        font-family: Lato;
        cursor: pointer;
        padding: 20px;
        letter-spacing: 2px;
        transition: color 0.3s;
    }
    .topbar li:hover {
        color: #39a9db;
        transition: color .3s;
    }
    .social li {
        cursor: pointer;
        padding: 5px;
    }
    .mobile {
        cursor: pointer;
    }
    .social li a {
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
        border: 2px solid transparent;
    }
    /*Container*/
    .container {
        max-width: 1000;
        margin-left: auto;
        margin-right: auto;
        padding: 0 45px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: rgb(31, 41, 55)
    }
    /*========================= Réalisations ====================*/
    .content-div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
        transition: opacity 0.3s
    }
    .content-div:hover {
        background-image: linear-gradient( to right, rgb(67, 58, 63), rgb(0, 0, 0))!important;
        transition: opacity 0.3s;
        border: 3px solid #39a9db;
    }
    /* Réalisations : infobulle */
    .floating-btn .tooltip {
        pointer-events: none;
        position: absolute;
        background-color: white;
        padding: 10px;
        font-size: 12px;
        line-height: 1.2;
        text-align: left;
        width: 250px;
        height: 150px;
        border-radius: 10px;
        opacity: 0;
        font-family: Raleway;
        color: #000;
    }
    #first-item .floating-btn .tooltip {
        height: 130px;
    }
    .floating-btn:hover .tooltip {
        opacity: 1;
        transition: opacity 0.4s ease-out;
    }
    /*==================Contact=================================*/
    input {
        outline-color: pink !important;
    }
    /*Réglages rapide*/
    @media all and (max-width:800px) {
        .home{
            margin-top : 30px;
        }        
    }
}
